[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "Mega2R"]
	path = Mega2R
	url = https://github.com/cran/Mega2R
	shallow = true
	registered = true
[submodule "nplplot"]
	path = nplplot
	url = https://github.com/cran/nplplot
	shallow = true
	registered = true
[submodule "powerpkg"]
	path = powerpkg
	url = https://github.com/cran/powerpkg
	shallow = true
	registered = true
